<div style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">
<b>Дякуємо за реєстрацію на {{ site.name }}! Ми раді Вас вітати.</b>
<br><br>
Останній крок — активація Вашого акаунту. Буль ласка, активуйте Ваш {{ SITE_NAME }} акаунт протягом наступних {{ expiration_days }} днів.
<br><br>
Перейдіть за посиланням нижче для активації.

<p align="center">
    <a href="{{ DMOJ_SCHEME }}://{{ site.domain }}/accounts/activate/{{ activation_key }}/" style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border: 1px solid #666;border-radius: 1px;background: #2980b9;background: linear-gradient(180deg, #00aee0, #2980b9);text-decoration: none;line-height:2em;font-size:1em;width:12em;">Активувати</a>
</p>

До зустрічі!
</div>
